.completa {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;}


.ui-panel-images{
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
/*z-index: -100;*/
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
/*background-size: cover;*/}

.container-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 7px;
}

.button-tags{
  height: 25px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 0 5px;
  margin-left: 10px;
}

.button-author{
  background-color: #DEDEDE;
  border-color: #d4d4d4;
  color: #6e6e6e;
}

.button-style{
  background-color: #FFB164;
  border-color: #e1a65b;
  color: #ca7000;
}

.button-gallery{
  background-color: #bde8ff;
  border-color: #acd4ea;
  color: #6e8693;
}
