<p-galleria [(value)]="imgs" [numVisible]="1" [(activeIndex)]="activeIndex" style="width: 100%;" [showIndicators]="true">
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.image" style="width: 100%;"/>
        </div>
    </ng-template>
</p-galleria>
<p-card header="{{ imgs[_activeIndex].title }}" subheader="{{ imgs[_activeIndex].artistName }}" [style]="{width: '100%'}">
<div>
  <button pButton (click)="updateRecommandation()" type="button" icon="pi pi-search" class="p-button-raised p-button-rounded"></button>
</div>
</p-card>
