<p-galleria [(value)]="imgs" [numVisible]="1" [(activeIndex)]="activeIndex" style="width: 100%;" [showIndicators]="true">
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.image" style="width: 100%;"/>
        </div>
    </ng-template>
</p-galleria>
<p-card [style]="{width: '100%'}">
  <p-header>
    <button pButton (click)="updateRecommandation()" type="button" icon="pi pi-search" class="p-button-raised p-button-rounded" style="float: right;"></button>
    <h2>{{ imgs[_activeIndex].title }}</h2>
    <h3>{{ imgs[_activeIndex].artistName }}</h3>
  </p-header>
</p-card>
