.filterTitle {
  color: #484848 !important;
}

.metricTitle {
  color: #8c7d60 !important;
}

.align {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.test {
  border-bottom: 7px solid #f0e5d0 !important;
}

.button-filter {
  margin: 10px;
}
