@import "src/_variables.scss";

.filterTitle {
  color: $color-dark;
}

.align {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.button-filter {
  margin: 10px;
}

.button-get-images {
  transition: box-shadow .3s;
  border-style: none;
  border-radius: 5px;
  background: $color-element-primary;
  color: $color-light;
  height: 50px;
  width: 100%;
  font-size: 1.5em;
}

.button-get-images:disabled {
  box-shadow: 0 0 2px 2px $color-element-secondary;
}

.button-get-images:hover:disabled {
  box-shadow: 0 0 2px 2px $color-element-secondary;
}

.button-get-images:hover {
  box-shadow: 0 0 2px 2px $color-element-primary;
}

.button-customize-search {
  transition: box-shadow .3s;
  border-style: none;
  border-radius: 5px;
  background-color: $color-element-secondary;
  height: 40px;
  border-color: $color-element-secondary;
  color: $color-light;
  font-size: 1.1em;
  width: 75%;
}

.button-customize-search:hover {
  box-shadow: 0 0 2px 2px $color-element-secondary;
}
