<p-sidebar [(visible)]="display">
  <div>
    <h3 class="metricTitle">Type of similarity</h3>
    <p-dropdown [options]="metrics" [(ngModel)]="selectedMetric" optionLabel="name"></p-dropdown>
  </div>
  <div class="">
    <h3 class="filterTitle">Max nbr img</h3>
    <p-inputNumber [(ngModel)]="nbrMaxImages"></p-inputNumber>
  </div>
  <div class="">
    <h3 class="filterTitle">Apply filters ?</h3>
    <p-inputSwitch [(ngModel)]="isAppliedFilters"></p-inputSwitch>
  </div>
  <!-- <div>
    <h3 class="filterTitle">Media</h3>
    <p-multiSelect [options]="media" [(ngModel)]="selectedMedia" optionLabel="name" maxSelectedLabels="1" [virtualScroll]="true" itemSize="30" [style]="{'width': '150px'}" [disabled]="!isAppliedFilters">
    </p-multiSelect>
  </div> -->
  <div>
    <h3 class="filterTitle">Style</h3>
    <p-multiSelect [options]="style" [(ngModel)]="selectedStyle" optionLabel="name" maxSelectedLabels="1" [virtualScroll]="true" itemSize="30" [style]="{'width': '200px'}" [disabled]="!isAppliedFilters">
    </p-multiSelect>
  </div>
  <div>
    <h3 class="filterTitle">Artiste</h3>
    <p-multiSelect [options]="author" [(ngModel)]="selectedAuthor" optionLabel="name" maxSelectedLabels="1" [virtualScroll]="true" itemSize="30" [style]="{'width': '200px'}" [disabled]="!isAppliedFilters">
    </p-multiSelect>
  </div>
  <!-- <div>
    <h3 class="filterTitle">Genre</h3>
    <p-multiSelect [options]="genre" [(ngModel)]="selectedGenre" optionLabel="name" maxSelectedLabels="1" [virtualScroll]="true" itemSize="30" [style]="{'width': '200px'}" [disabled]="!isAppliedFilters">
    </p-multiSelect>
  </div> -->
</p-sidebar>

<div class="p-grid p-nogutter test">
  <div class="p-sm-6 p-md-6 p-lg-3 p-xl-3 align">
    <button class="button-get-images" type="button"  (click)="onClickGetImages($event)">
      Get images !
    </button>
  </div>
  <div class="p-sm-6 p-md-6 p-lg-3 p-xl-3 align">
    <button class="button-customize-search" type="button"  (click)="display = true">
      Customize Search
      <i class="pi pi-pencil"></i>
    </button>
  </div>
</div>
