@import "src/_variables.scss";

.button-customize-recommandation{
  height: 40px;
}

.button-customize-recommandation-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
