<p-card header="{{ imgOfIinterest[0].title }}" subheader="{{ imgOfIinterest[0].artistName }}" [style]="{width: '100%'}"  styleClass="ui-card-shadow">
  <div class="">
    <img src="{{ imgOfIinterest[0].image }}" width="100%">
  </div>
</p-card>
<p-card header="Manage recommandation" [style]="{width: '100%'}"  styleClass="ui-card-shadow">
  <div class="p-grid p-nogutter">
    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6">
      <h3 class="metricTitle">Type of similarity</h3>
      <p-dropdown autoWidth="false" [options]="metrics" [(ngModel)]="selectedMetric" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-sm-12 p-md-6 p-lg-6 p-xl-6">
      <h3 class="metricTitle">Number</h3>
      <p-inputNumber [(ngModel)]="nbrRecommandation"></p-inputNumber>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6">
      <button class="ui-button-rounded" pButton type="button" label="Update settings" (click)="onClickSubmitNewRecommandation()"></button>
    </div>
  </div>
</p-card>
<p-card header="Import your own image" [style]="{width: '100%'}"  styleClass="ui-card-shadow">
  <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)" accept="image/*" maxFileSize="1000000" chooseLabel="Browse"></p-fileUpload>
</p-card>
