<ng-container>
  <div *ngIf="details.length == 0; else elseBlock" class="helpmessage-container">
    <i class="pi pi-info-circle"></i>
    <p>Welcome to WikiArt Viz!</p>
    <p>
      This app offer an original way to explore the collection of WikiArt website.
      You can vizualize multiples artworks in the same big picture where they are regrouped according to their similarity (content or color).
    </p>
    <p>How to use it:</p>
    <ul>
     <li>Choose categories of artworks that you want to see. (Media, Style, Artiste, Genre)</li>
     <li>Choose how the artworks will be regrouped: by content or by color. (Type of similarity)</li>
     <li>Validate your selection to launch the construction of the big picture.</li>
     <li>When the big picture is loaded you can navigate thanks to your mouse: press and hold right to move, left to rotate and scroll to zoom.</li>
     <li>You can also display details about an artwork by right-clicking on it, to deselect re-click on it.</li>
   </ul>
   <p>Warning: It could take several minutes to load the big picture of all the artworks. Try to apply some filters to familiarise with the app.
   </p>
  </div>

  <ng-template #elseBlock>
  <p-scrollPanel  [style]="{width: '100%', height: '500px'}">
    <p-card *ngFor="let detail of details" [style]="{width: '100%'}"  styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="{{ detail.image }}" class="imgCard">
        </p-header>
        <p-header>
          <div class="p-grid p-nogutter test">
            <div class="p-sm-8 p-md-8 p-lg-8 p-xl-8 align">
              <h2>{{ detail.title }}</h2>
            </div>
            <div class="p-sm-4 p-md-4 p-lg-4 p-xl-4 align">
              <button class="button-similar-picture" type="button"  (click)="goToRecommandation(detail.paintingId)">
                <b>Get similar images !</b>
              </button>
            </div>
          </div>
          <div class="container-tags">
            <p>By</p>
            <button class="button-tags button-author" type="button"  (click)="onClickApplyFiltersWithAuthor(detail.artistName)">
              {{detail.artistName}}
            </button>
          </div>
          <div class="container-tags" *ngIf="detail.styles != null">
            <p>Style</p>
            <button class="button-tags button-style" type="button"  (click)="onClickApplyFiltersWithStyle(style)" *ngFor="let style of detail.styles">
              {{style}}
            </button>
          </div>
          <!-- <div class="container-tags">
            <button class="button-tags button-gallery" type="button" *ngFor="let gallery of detail.galleries">
              {{gallery}}
            </button>
          </div> -->
        </p-header>
        <div class="description" *ngIf="detail.description!= null" [innerHtml]='detail.description | bbcodeToHtml '></div>
    </p-card>
  </p-scrollPanel>
  </ng-template>
</ng-container>
