$color-dark: #343330;
$color-light: white;
$color-light-hover: grey;
$color-background: #F7F3E3;
$color-decoration: #AF9164;
$color-element-primary: #541388;
$color-element-primary-analogue-1: #1a1388;
$color-element-primary-analogue-2: #881382;
$color-element-secondary: #087E8B;
