<!-- <app-filters></app-filters>
<div class="ui-g ui-g-nopad">
    <div class="ui-g-8 ui-g-nopad">
      <app-image-chart></app-image-chart>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <app-image-detail></app-image-detail>
    </div>
</div> -->

<div class="p-grid p-nogutter">
  <div class="p-col-12">
    <app-filters></app-filters>
  </div>
    <div class="p-sm-12 p-md-8 p-lg-8 p-xl-8">
      <app-image-chart></app-image-chart>
    </div>
    <div class="p-sm-12 p-md-4 p-lg-4 p-xl-4">
      <app-image-detail></app-image-detail>
    </div>
</div>
